@model WebPrototype1.Models.Pricing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pricing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mobilfunk.NetworkSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobilfunk.NetworkSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilPhoneId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilPhoneId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PricingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
